<a href="https://colab.research.google.com/github/assiou349/Python-for-math/blob/main/data_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Listes

In [ ]:
list0 = [0, 5.4, "chaîne", True]

In [ ]:
list0[3]=False
list0

[0, 5.4, 'chaîne', False]

In [ ]:
list0.append("Nouveau")

In [ ]:
list0.insert(2,34)

In [ ]:
list0

[0, 5.4, 34, 'chaîne', False, 'Nouveau']

In [ ]:
list0.remove(0)

In [ ]:
list0

[5.4, 34, 'chaîne', False, 'Nouveau']

In [ ]:
list1 = list0
list1[2] = "change"
list0

[5.4, 34, 'change', False, 'Nouveau']

In [ ]:
list2 = list0.copy()
list2[2] = "rechange"

In [ ]:
list0

[5.4, 34, 'change', False, 'Nouveau']

In [ ]:
def f1(l):
  l[0]=0

In [ ]:
f1(list0)

In [ ]:
list0

[0, 34, 'change', False, 'Nouveau']

In [ ]:
list1 = [2*i+1 for i in range(10)]
list1

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
#concatener deux listes
list1 + list2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 5.4, 34, 'rechange', False, 'Nouveau']

In [ ]:
#extraire une tranche
a = list(range(10))
a[6:10]

[6, 7, 8, 9]

In [ ]:
#longueur list
len(a)

10

In [ ]:
def fibonacci(n: int) -> list[int]:
  """
  Retourne la suite de fibonacci contenant n termes
  """
  #initialisation
  if n < 0:
    raise ValueError(" n doit etre positif ou null")
  if n == 0:
    return []
  if n == 1:
    return [0]

  fib = [0,1]
  for _ in range(2, n):
    #Ajouter la liste d'element forme par la somme des deux precedents
    fib.append(fib[-1] + fib[-2])
  return fib

In [ ]:
def fibonacci_gen(n: int):
  if n <= 0:
    return
  a, b = 0, 1
  for _ in range(n):
    yield a
    a, b = b, a+b

for f in fibonacci_gen(100000):
  if f > 1000:
    print('Stop a:', f)
    break

1597

In [ ]:
def pascal(n: int)->list[int]:
  if n < 1:
    raise ValueError(" n must be >= 1")
  if n == 1:
    return [1]

  previous = pascal(n-1)#get the previous row
  middle = [previous[i] + previous[i+1] for i in range(len(previous)-1)]
  return [1] + previous + [1]

In [ ]:
def pascal_iter(n: int)-> list[int]:
  if n < 1:
    raise ValueError('n must be >= 1')
  row = [1]
  for _ in range(2,n+1):
    row = [1] + [row[i] + row[i+1] for i in range(len(row) -1)] + [1]
  return row

In [ ]:
def uv(n: int):
  if n < 0:
    raise v(" n must be >=0")
  u, v = 1, 1
  for _ in range(n):
    u, v = u + v, 2*u -v
  return u, v
print(uv(100))

(717897987691852588770249, 717897987691852588770249)

In [ ]:
def vk(n0, K):
  """
  Compute K steps of the collatz sequence starting from n0
  and return the last 5 values.
  """
  if K <1 :
    raise ValueError(' k must be >= 1')
  v = int(n0)
  res = [] #liste to store the last 5 result

  for k in range(K):
    if v % 2 == 0:
      v //= 2
    else:
      v = 3 * v + 1

    if k >= K-5:
      res.append(v)

  return res

for n0 in [10, 100, 1000, 10000]:
  print(vk(n0, 1000))

[1, 4, 2, 1, 4]
[2, 1, 4, 2, 1]
[1, 4, 2, 1, 4]
[4, 2, 1, 4, 2]

#Tuple

In [ ]:
def mdlast(lst, val):
  return [t[:-1] + (val, ) for t in lst]

def mdlast2(lst, val):
  result = []
  for t in lst:
    if not t:
      raise ValueError('Tuple must not be empty')
    result.append(t[:-1]+ (val,))

In [ ]:
tuple0 = tuple(list0)
type(tuple0)

tuple

In [ ]:
tuple0

(0, 34, 'change', False, 'Nouveau')

In [ ]:
list3 = list(tuple0)
type(list3)

list

In [ ]:
list3

[0, 34, 'change', False, 'Nouveau']

#Set

In [ ]:
#immuable
frozenset0 = frozenset([0, 5.3, "Chaine", True])
set0 = {1,2,3}

In [ ]:
frozenset0.remove(0)

AttributeError: 'frozenset' object has no attribute 'remove'

In [ ]:
set0.remove(1)

In [ ]:
set0

{2, 3}

In [ ]:
set1 = set('abradacabra')

In [ ]:
set1

{'a', 'b', 'c', 'd', 'r'}

In [ ]:
set2 = { x for x in 'abradacabra' if x not in 'abc'}

In [ ]:
set2

{'d', 'r'}

In [ ]:
def divible(n):
  if n <= 0:
    raise ValueError("n must >0")
  return {n*i for i in range(1, 100//n+1)}

In [ ]:
divible(3)

{3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99}

In [ ]:
inter =  divible(3).intersection(divible(5))
inter = inter.difference(divible(2))
inter

{15, 45, 75}

In [ ]:
(divible(3) & divible(5)) - divible(2)

{15, 45, 75}

#Dict

In [ ]:
dict1 = {x: x**2 for x in range(5)}

In [ ]:
#unpackaging
def add(a=0, b=0):
  return a + b
d = {'a': 2, 'b':3}

In [ ]:
add(**d)

5

In [ ]:
dict1 = {x: x**2 for x in range(5)}
dict2 = {x: x**2 for x in range(6)}
dict3 = {x: x**2 for x in range(7)}

#concatener des dictionnaires
dict4 = dict1 | dict2 | dict3

In [ ]:
dict4

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [ ]:
out = {**dict1, **dict2, **dict3}

In [ ]:
out

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [ ]:
out  = {}
for d in (dict1, dict2, dict3):
  out.update(d)
out

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [ ]:
def position(mots, x, n):
  return [mot for mot in mots if n<len(mot) and mot[n]==x]


mots = ['Abricot', 'Airelle', 'Ananas', 'Banane', 'Cassis', 'Cerise', 'Citron', 'Clémentine', 'Coing', 'Datte', 'Fraise', 'Framboise', 'Grenade', 'Groseille', 'Kaki', 'Kiwi', 'Litchi', 'Mandarine', 'Mangue', 'Melon', 'Mirabelle', 'Nectarine', 'Orange', 'Pamplemousse', 'Papaye', 'Pêche', 'Poire', 'Pomme', 'Prune', 'Raisin']
print(position(mots,'e', 4))

['Clémentine', 'Datte', 'Groseille', 'Pêche', 'Poire', 'Pomme', 'Prune']

In [ ]:
from collections import defaultdict

mots_dict =  defaultdict(list)

for word in mots:
  for i, ch in enumerate(word):
    mots_dict[(ch,i)].append(word)

print(mots_dict[('e',4)])

['Clémentine', 'Datte', 'Groseille', 'Pêche', 'Poire', 'Pomme', 'Prune']